body {
  background-color: #152238;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.primary {
  color: #f58212;
}

header {
  position: fixed;
  top: 0;
  padding-right: 20px;
  background-color: rgba(104, 104, 104, 0.2);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: 700;
}

header span {
  margin-left: 50px;
  margin-right: 50px;
  cursor: pointer;
}

.section {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.section-1 {
  height: 50vh;
  background-image: url("./img/wood.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.portfolio-pic {
  border-radius: 50%; 
  height: 200px;
  width: 200px;
}

.about-pic {
  height: 300px;
  width: 300px;
  border-radius: 1%;
}

.section-2 {
  flex-direction: row;
}

.about-content-wrapper {
  display: flex;
}

.about-pic-wrapper {
  justify-content: right;
  display: flex;
  padding-right: 5%;
}

.about-content-wrapper {
  flex-direction: column;
}

.about-pic-wrapper, .about-wrapper {
  width: 50vw;
}

.about-wrapper p {
  width: 50%;
}

#home-button {
  color: #f58212;
}

#contract-button {
  border: 1px solid #f58212;
  padding: 10px;
  border-radius: 6px;
}

.fullname {
  color: #f58212;
  font-size: 40px;
  font-weight: bold;
}

.occupation {
  font-size: 25px;
}

.section-2 {
  
}

.section-3 {
  background-color: #0b2545;
}

.section-4 {
  background-color: #13315c;
}

.quarter-line {
  width: 5%;
  background-color: #f58212;
  height: 4px;
  transform: translateY(-12px);
}

.number-wrapper {
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8c979a;
  font-size: 25px;
}

.quarter-number-line {
  background-color: #f58212;
  height: 4px;
  width: 20px;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 80%;
  background-color: gray;
  height: 300px;
}

.slide {
  height: 280px;
  width: 100%;
  background-color: #6c88b8;
  position: absolute;
}

.slide-1 {
  background-color: green;
}

.slide-2 {
  background-color: black;
}

.slide-3 {
  background-color: white;
}
